body {
	background-color: #212121;
	color:#3D3D3D;
	font-family:Verdana, Geneva, sans-serif;
}

strong{	font-weight: bold; }

#micrositePage {
	width:900px;
	margin-left:auto;
	margin-right:auto;
	background-color: #FFF;
	padding-top:15px;
	padding-bottom:15px;
	font-size:12px;
	font-weight:400;
	line-height: 1.4em;
}

#micrositeContainer, #micrositeFooter {
	width:870px;
	margin-left:auto;
	margin-right:auto;
}

#micrositeFooter {
	margin-top:20px;
	font-size:0.8em;
}

#micrositeFooter p {
	text-align: center;
	color:#CCC;
}

/* #micrositePage h2 {
	background: none repeat scroll 0 0 #274c80;
	clear: both;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 900;
    padding: 5px 0 6px 12px;
    text-transform: uppercase;
} 
*/

#micrositePage a {
	color:#3d3d3d;
	text-decoration:none;
}

#micrositePage a:hover, #micrositePage a:focus {
	color:#5480BB;
	text-decoration:underline;
}

#micrositeFooter a {
	color:#CCC;
}

#micrositeFooter a:hover, #micrositeFooter a:focus {
	color:#CCC;
}

.micrositeHeaderWidget {
	position:relative;
	background-color:transparent;
	background-image:url("/e2/rv5_images/features/tbi/tbi_branding.jpg");
	background-repeat:no-repeat;
	height:300px;
	text-indent: -9999px;
}

.micrositeHeaderWidget a {
	position:absolute;
	top:15px;
	right:15px;
	bottom:-201px;
	left:15px;
	width: 65px;
	height: 81px;
}

.headerStar{ background: url("/e2/rv5_images/features/army_star_neg.png") no-repeat; }

.micrositeTextWidgetIntro {
    margin-right: 15px;
    margin-top: 20px;
    width: 530px;
}
.micrositeTextWidgetIntro h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

.micrositeTextWidgetIntro h3 {
    font-size: 16px;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

.micrositeTextWidgetSymptoms {
    float: left;
    margin-right: 15px;
    width: 167px;
}

.micrositeTextWidgetIntro ul, .micrositeTextWidgetSymptoms ul { margin-left: 20px; }

.micrositeTextWidgetIntro li, .micrositeTextWidgetSymptoms li {
    list-style: disc outside none;
    padding-bottom: 7px;
}

.micrositeImageAndTextWidget, .micrositeImageAndTextWidgetFirst {
    float: left;
    margin-right: 14px;
	margin-top: 40px;
    width: 207px;
}
.micrositeImageAndTextWidgetFirst { clear: both; }

.micrositeImageAndTextWidgetLast {
    float: left;
	margin-top: 40px;
    width: 207px;
}
.micrositeImageAndTextWidget h2, .micrositeImageAndTextWidgetFirst h2, .micrositeImageAndTextWidgetLast h2 {
    display: none;
}
.micrositeImageAndTextWidget h3, .micrositeImageAndTextWidgetFirst h3, .micrositeImageAndTextWidgetLast h3 {
    background: none repeat scroll 0 0 #274c80;
    color: #ffffff;
    font-size: 13px;
    font-weight: 900;
	margin-top: -4px;
    padding: 5px 0 6px 12px;
    text-transform: uppercase;
}
.micrositeImageAndTextWidget ul, .micrositeImageAndTextWidgetFirst ul, .micrositeImageAndTextWidgetLast ul {
    background: none repeat scroll 0 0 #d8e2ff;
    border-bottom: 1px solid #274c80;
    border-left: 1px solid #274c80;
    border-right: 1px solid #274c80;
    height: 230px;
    padding: 12px;
}
.micrositeImageAndTextWidget li, .micrositeImageAndTextWidgetFirst li, .micrositeImageAndTextWidgetLast li {
    margin-bottom: 7px;
}

.micrositeTextWidgetFact {
    background-color: #d8e2ff;
    border: 1px solid #274c80;
    float: right;
    padding: 20px;
    width: 258px;
}

.micrositeTextWidgetFact h1 {
    color: #274c80;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.micrositeTextWidgetFact p {
    color: #274c80;
    margin-bottom: 10px;
}

.micrositeTextWidgetFact h3 {
    color: #274c80;
    font-size: 10px;
    font-style: italic;
	line-height: 15px;
}

.micrositeTextWidgetFact a {
    color: #274c80 !important;
    text-decoration: underline !important;
}

.playlistPlayer_001 {
	border: 1px solid #b3b3b3;
    clear: both;
    float: right;
    margin-top: 20px;
    width: 298px;
}

#micrositeLeftCol {
    margin-top: 40px;
	width: 545px;
}

#micrositeRightCol {
    margin-top: 40px;
	width: 300px;
}

#micrositePage .rightSection {
	border-bottom: 1px solid #B3B3B3;
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
    margin-bottom: 20px;
    padding: 12px;
}

h2.micrositeStoryListMoreWidget {
    font-size: 24px !important;
    margin-bottom: 10px;
}

.storyBlock { 
	margin: 0;
	clear:both;
}
.leftPane {
    float: left;
    margin: 0 12px 0 0;
    padding: 0;
    width: 152px;
}
.leftPane img { border:1px solid #414034;}
.rightPane {
	float:right;
	width:381px;
}
.rightPane a { text-decoration:none; font-weight: bold;}
.rightPane h3 { font-size:1.3333em; margin:0 0 .5em 0;}

.subContent{ margin-left: 12px;}
.storyBlock, .storyBlock1 {
    background: url("/e2/rv5_images/leaderstour/storyBlock_gradient.jpg") repeat-x scroll center bottom rgba(0, 0, 0, 0);
    border-bottom: 1px solid #b3b3b3;
    clear: both;
    float: left;
    padding: 15px 0;
    width: 545px;
}
.storyBlock1 li{padding:1px 1px 5px 10px;}
.storyBlock h3 a, .storyBlock1 h3 a {text-decoration: none;  outline: 0; font-size: 15px; font-weight: bold;}
.storyBlock h3 a:hover, .storyBlock h3 a:focus, .storyBlock1 h3 a:hover, .storyBlock1 h3 a:focus {text-decoration: underline;}
.storyBlock .left, .storyBlock1 .left {float: left;}
.storyBlock .right, .storyBlock1 .right { width: 400px; float: right; }
.archives{
	float:right;
	margin-top:10px;
	text-align:right;
	width:578px;
}

#archives{
	background: url(/e2/rv5_images/features/more_stories_545.png) no-repeat;
	text-align:center;
	border: none;
	height: 35px;
	display: block;
	text-indent: -9999px;
	clear:both;
	margin-bottom: 10px;
	position: relative;
	top: 13px;
}
#archives:hover, #archives:focus { background-position: 0 -35px;}

.micrositeImageWidget {
    background: none repeat scroll 0 0 #f0f0f0;
    border: 1px solid #b3b3b3;
    padding: 20px 12px;
}

h2.micrositeLinkBoxWidget {
    display: none;
}
.micrositeLinkBoxWidget li {
    margin-bottom: 7px;
}

.micrositeSocialMedia_001 {
	background: none !important;
    border-top: none !important;
    font-family: Helvetica,Arial,sans-serif !important;
}
.micrositeSocialMedia_001 p {
    text-shadow: none !important;
}
.micrositeSocialMedia_001 p.title {
    background: none repeat scroll 0 0 #274c80;
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 13px !important;
    font-weight: 900;
    padding: 5px 0 6px 12px !important;
    text-align: left;
    text-transform: uppercase;
}
.micrositeSocialMedia_001 .icons {
    background: #ffffff;
	border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
	padding: 12px 0 !important;
}

.micrositeSocialMedia_001 .icons img {
    border: medium none !important;
    margin: 0 !important;
}
.micrositeSocialMedia_001 .button {
    border: 1px solid #B3B3B3 !important;
    margin: 7px 0 0 -1px !important;
}
.micrositeSocialMedia_001 .button a {
    border: medium none !important;
	width: 100% !important;
}
.micrositeSocialMedia_001 .button a:hover, .micrositeSocialMedia_001 .button a:focus {
    background: none repeat scroll 0 0 transparent !important;
}