.mobileAdMain{height:100px;width:100%;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffdf66), to(#ffcb09));background-image:-webkit-linear-gradient(top, #ffdf66, #ffcb09);background-image:-moz-linear-gradient(top, #ffdf66, #ffcb09);background-image:-ms-linear-gradient(top, #ffdf66, #ffcb09);background-image:-o-linear-gradient(top, #ffdf66, #ffcb09);background-image:linear-gradient(top, #ffdf66, #ffcb09);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffdf66', EndColorStr='#ffcb09');color:#3D3D3D;margin:0;padding:42px
0 12px 22px}a.mobileAd{font-size:260%;color:#3d3d3d}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit}:focus{outline:0}body{background:#FFF;color:#000;line-height:1}ol,ul{list-style:none}#micrositeHeader{display:block;width:100%;min-height:100px}#micrositeContent{display:block;width:100%;min-height:100px}#micrositeLeftCol{display:block;float:left;width:70%;min-height:100px}#micrositeRightCol{display:block;float:right;width:30%;min-height:100px}.clear{clear:both}#micrositeFooter{display:block;width:100%;min-height:100px}.headerStar{display:block;position:relative;width:60px;height:90px}.micrositeSocialMedia_001{width:100%;height:100%;font-family:Verdana,Helvetica,Arial,sans-serif;background:#ffda4d;background:-moz-linear-gradient(top, #606060 0%, #858585 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,#858585));background:-webkit-linear-gradient(top, #606060 0%,#858585 100%);background:-o-linear-gradient(top, #606060 0%,#858585 100%);background:-ms-linear-gradient(top, #606060 0%,#858585 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#858585',GradientType=0 );background:linear-gradient(top, #606060 0%,#858585 100%);border-top:solid 1px #606060}.micrositeSocialMedia_001
p{color:#fff;text-shadow:0px -1px 1px #3d3d3d;text-align:center}.micrositeSocialMedia_001
p.title{font-size:18px;padding:5px
0}.micrositeSocialMedia_001 .icons
li{list-style-type:none;display:inline;margin:10px
3px 0 3px}.micrositeSocialMedia_001 .icons
img{margin:5px
0px}.micrositeSocialMedia_001
.icons{text-align:center;padding:0}.micrositeSocialMedia_001 .button-container{width:100%;margin:0
auto}.micrositeSocialMedia_001 .button, .micrositeSocialMedia_001 .button
a{position:relative;float:left;background:#eee}.micrositeSocialMedia_001
.button{width:100%;border-top:solid 1px #fff;border-right:solid 1px #fff;border-left:solid 1px #fff;border-bottom:none;margin:5px
0 0 -1px;clear:both;text-align:center}.micrositeSocialMedia_001 .button
a{float:right;width:99%;padding:3px
0px 3px 0px;border:1px
solid #dbdbdb;font-size:12px;text-decoration:none;text-shadow:0px 1px 1px #fff;color:#3d3d3d;text-align:center;background:-moz-linear-gradient(top, #fefefe 0%, #dbdbdb 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#dbdbdb));background:-webkit-linear-gradient(top, #fefefe 0%,#dbdbdb 100%);background:-o-linear-gradient(top, #fefefe 0%,#dbdbdb 100%);background:-ms-linear-gradient(top, #fefefe 0%,#dbdbdb 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#dbdbdb',GradientType=0 );background:linear-gradient(top, #fefefe 0%,#dbdbdb 100%)}.micrositeSocialMedia_001 .button a:hover, .micrositeSocialMedia_001 .button a:focus{border:1px
solid #ffd32a;background:#ffda4d;background:-moz-linear-gradient(top, #ffe068 0%, #ffd42a 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe068), color-stop(100%,#ffd42a));background:-webkit-linear-gradient(top, #ffe068 0%,#ffd42a 100%);background:-o-linear-gradient(top, #ffe068 0%,#ffd42a 100%);background:-ms-linear-gradient(top, #ffe068 0%,#ffd42a 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe068', endColorstr='#ffd42a',GradientType=0 );background:linear-gradient(top, #ffe068 0%,#ffd42a 100%)}.socialMediaControl_001
.socialMedia_control{padding-top:7px}.socialMediaControl_001 .socialMediaForm
label{float:left}.socialMediaControl_001 .socialMediaForm
input{margin-top:20px;margin-left:-6px}.socialMediaControl_001
#cssClass{margin-top:0px;margin-left:-10px}.socialMediaControl_001 #facebookalt, .socialMediaControl_001 #googlealt, .socialMediaControl_001 #twitteralt, .socialMediaControl_001 #pinterestalt, .socialMediaControl_001 #youtubealt, .socialMediaControl_001 #flickralt, .socialMediaControl_001 #vimeoalt, .socialMediaControl_001
#slidesharealt{margin-top:6px;width:222px}.share_001_pm
p{color:white;margin:12px;font-size:12px}.share_001_pm p
a{color:white;text-decoration:none}.share_001_pm p a:hover{color:white;text-decoration:underline}.share_001_pm fieldset
input{width:500px}.shareControl_001{margin:15px;font-weight:bold}.playlistPlayer_001_pm
p{color:white;margin:12px;font-size:12px}.playlistPlayer_001_pm p
span{font-weight:bold}.playlistPlayer_001_pm p
a{color:white;text-decoration:none}.playlistPlayer_001_pm p a:hover{color:white;text-decoration:underline}.playlistPlayer_001_pm fieldset
input{width:500px}.playlistPlayer_001
div#video_player_wrap{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden}.playlistPlayer_001 #video_player_wrap iframe,
.playlistPlayer_001 #video_player_wrap object,
.playlistPlayer_001 #video_player_wrap
embed{position:absolute;top:0;left:0;width:100%;height:100%}.playlistPlayer_001
div.title{background-color:#707070;padding:4px
10px;text-shadow:0 -1px 1px #3d3d3d;border-bottom:1px solid #fff}.playlistPlayer_001 div.title
h2{color:#fff;font-size:16px;font-weight:100;font-family:verdana,​helvetica,​arial,​sans-serif}.iatTextarea{width:400px;height:300px}.access{position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden}#overlay{background:url(/images/overlay.png) repeat;height:100%;left:0px;position:fixed;top:0px;width:100%;z-index:1999}#popup{background:transparent;display:none;left:50%;position:fixed;top:50%;z-index:2000}#ajaxContent,#iframeContent{clear:both;display:block;overflow:auto}#iframeContent, #iframeContent html, #iframeContent
body{background:transparent}#closeWindowButton{background:url(/images/addMedia_close_button.png) no-repeat;cursor:pointer;display:block;height:45px;left:636px;position:relative;top:64px;width:44px;z-index:9000}.widgetBox{position:relative;overflow:hidden}.widgetEditIcon{background:url(/images/global_sprite.png) no-repeat -362px -70px;display:block;height:25px;position:absolute;width:25px;right:0px;top:0px;z-index:1290}.widgetEditIconGreen{background:url(/images/global_sprite.png) no-repeat -337px -70px}.overlay{border:3px
solid #fecc0a}.overlayFill{background:#fc2;opacity:0.3}.overlayEffects{background:url(/images/overlay_striped_yellow.png) repeat}.overlay.hover{border:3px
dashed #7b8738}.overlay.hover
.overlayFill{background:#fff}.overlay.hover
.overlayEffects{background:url(/images/overlay_striped_green.png) repeat}.overlay.hover
.widgetEditIcon{background:url(/images/global_sprite.gif) no-repeat -230px -255px;width:108px}#addMediaContainer
h3{color:#fff;float:left;font-size:18px;font-weight:bold;line-height:1.2;margin:0.6em 0 0 12px}#librarySearch{display:inline;float:right;margin:12px
12px 0 0}#librarySearch
input{border:1px
solid #b4b4b4;color:#b4b4b4;font-size:11px;float:left;height:16px;line-height:16px;padding:2px
20px 0 2px;width:160px}#librarySearch
#searchIcon{background:url(/images/global_sprite.png) no-repeat -496px -16px;cursor:pointer;height:12px;left:167px;position:relative;top:4px;width:12px;z-index:5000}.grayBg
label{font-size:1.2em;color:#fff;margin:7px
12px}.grayBg
input{margin-top:7px}.grayBg input:focus{border:2px
solid #7b8738}#contentLibrary{clear:both;float:left;padding-bottom:1em;width:100%}#addMediaContainer
h3{margin-top:0.3em}#addMediaContainer
h4{color:#fff;float:left;font-weight:normal;font-style:italic;margin-top:14px;padding-left:15px}#librarySearch{margin-top:0.8em}#contentSelectWrapper,.contentList{clear:both;float:left}#contentSelectWrapper{padding:0.8em 0 0.3em 12px}.contentSelect{float:left;margin-right:20px}.contentSelect
select{width:180px}#addMediaContainer .contentSelect
h4{font-size:1.2em;font-style:normal;margin:0px
5px 0 0;padding:0}.contentList, .contentList li, .contentList li img,.boxLeft,.boxText,.boxRight{float:left}.contentList{padding:0
0 0 12px}.contentList
li{color:#3d3d3d;margin:0.4em 8px 0.4em 0;position:relative}.contentList li
.itemOverlay{background:#fc2;border:none;display:none;opacity:0.4;position:absolute;bottom:0;left:0;right:0;top:0;z-index:4000}.contentList
li.placeholder{background:#3d3d3d;border:1px
dashed #fc2;overflow:hidden}.contentList li
img{border:none;margin-top:1px}.contentList li
.boxText{padding:0
0 0 8px;width:218px}.contentList li
h5{font-size:1.2em;margin:0.3em 0 0.2em}.contentList li
h6{color:#5d5d5d;font-weight:normal}.contentList li h6
.author{font-weight:bold}.contentList li
.boxLeft{height:40px;width:8px}.contentList li
.boxContent{background:#f7f7f7;float:left;height:40px;width:284px}.contentList .article
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -179px -209px}.contentList .image
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -187px -209px}.contentList .video
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -195px -209px}.contentList .filler
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -203px -209px}.contentList .audio
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -211px -209px}.contentList .slideshow
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -219px -209px}.contentList li
.boxRight{background:url(/images/page_management_legends_sprite.gif) no-repeat -171px -209px;height:40px;width:8px}.contentList li
.deleteItem{background:url(/images/global_sprite.png) no-repeat scroll -240px -20px;height:11px;position:absolute;right:4px;top:4px;width:11px}.contentList li .deleteItem:hover{background-position:-251px -20px}.contentList li.itemHover
.itemOverlay{z-index:0}.contentList
li.availableDragging{opacity:0.6}.contentList li.ui-draggable-dragging{opacity:0.9}.ui-draggable,.ui-sortable-helper{cursor:move;z-index:4001}.ui-droppable{cursor:move}#libraryPag{clear:both;margin:0
auto;overflow:hidden;padding-top:8px;width:100px}#libraryPag h4, #libraryPag
a{color:#fff;float:left}#libraryPag
h4{border:1px
solid #b4b4b4;font-style:normal;height:15px;line-height:15px;margin:0;padding:0
8px}#libraryPag
a{height:17px;width:17px}#libraryPag
.libraryPrev{background:url(/images/global_sprite.gif) no-repeat scroll -136px -249px}#libraryPag
.libraryPrev.active{background:url(/images/global_sprite.gif) no-repeat scroll -136px -266px}#libraryPag
.libraryNext{background:url(/images/global_sprite.gif) no-repeat scroll -153px -249px}#libraryPag
.libraryNext.active{background:url(/images/global_sprite.gif) no-repeat scroll -153px -266px}